<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <title>{% block title %}Dapot – Účtovníctvo a ekonomické poradenstvo{% endblock %}</title>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-brand">
            <a href="/">Dapot</a> <small>Účtovníctvo a ekonomické poradenstvo</small>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Úvod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sluzby">Služby</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cennik">Cenník</a>
            </li>
        </ul>
    </nav>


    {% block content %}{% endblock %}

    <h2>Kontakt</h2>

    <p>
        <b>DAPOT, s.r.o.</b><br>
        Nemocničná 605/25<br>
        924 01 Galanta
    </p>

    <p>
        IČO: 36221708<br>
        DIČ: 2021360803
    </p>

    <p>
        pevná linka: <a href="tel:00317020385">+31 702 0385</a><br>
        mobil: <a href="tel:00421903580138">+421 903 580 138</a><br>
        e-mail: <a href="mailto:beata@dapot.sk">beata@dapot.sk</a>
    </p>

    <p><b>Osobné stretnutie doporučujeme dohodnúť telefonicky.</b></p>
</div>

{#
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
#}
</body>
</html>
