<!DOCTYPE html>
<html lang="{% block lang %}sk{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <title>{% block title %}DAPOT – Účtovníctvo a ekonomické poradenstvo Galanta{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#1a334d">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="Komplexné účtovnícke a ekonomické služby od roku 1997">
    <meta name="image" content="https://www.dapot.sk/social-media.png">
    <meta itemprop="name" content="{% block title %}DAPOT – Účtovníctvo a ekonomické poradenstvo Galanta{% endblock %}">
    <meta itemprop="description" content="Komplexné účtovnícke a ekonomické služby od roku 1997">
    <meta itemprop="image" content="https://www.dapot.sk/social-media.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% block title %}DAPOT – Účtovníctvo a ekonomické poradenstvo Galanta{% endblock %}">
    <meta name="twitter:description" content="Komplexné účtovnícke a ekonomické služby od roku 1997">
    <meta name="og:title" content="{% block title %}DAPOT – Účtovníctvo a ekonomické poradenstvo Galanta{% endblock %}">
    <meta name="og:description" content="Komplexné účtovnícke a ekonomické služby od roku 1997">
    <meta name="og:url" content="https://www.dapot.sk/">
    <meta name="og:site_name" content="DAPOT – Účtovníctvo a ekonomické poradenstvo">
    <meta name="og:locale" content="{% block lang %}sk{% endblock %}">
    <meta name="og:type" content="website">
</head>
<body>


<div class="bg-white DA-navbar-sticky">
    <div class="container-lg">
        <nav class="navbar navbar-expand flex-wrap py-3 mr-n3 mb-lg-2 mb-xl-3 align-items-baseline position-relative">
            <div class="navbar-brand text-wrap mr-4 py-0">
                <a href="/" class="display-1 text-decoration-none font-weight-bold">DAPOT</a>
                <br><small class="DA-logo-claim">účtovníctvo a&nbsp;ekonomické poradenstvo</small>
            </div>

            <ul class="navbar-nav ml-lg-auto mt-auto flex-wrap pt-3 mx-n2">
                <li class="nav-item {% block menu_active_index %}{% endblock %}">
                    <a class="nav-link py-2 py-lg-0" href="/">Úvod</a>
                </li>
                <li class="nav-item {% block menu_active_services %}{% endblock %}">
                    <a class="nav-link py-2 py-lg-0" href="/sluzby">Služby</a>
                </li>
                <li class="nav-item {% block menu_active_pricelist %}{% endblock %}">
                    <a class="nav-link py-2 py-lg-0" href="/cennik">Cenník</a>
                </li>
                <li class="nav-item {% block menu_active_references %}{% endblock %}">
                    <a class="nav-link py-2 py-lg-0" href="/referencie">Referencie</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link py-2 py-lg-0" href="#kontakty">Kontakty</a>
                </li>
            </ul>

            <a href="/hu/" class="DA-language d-block p-2 pt-4 small bg-dark text-white">Magyar</a>

        </nav>
    </div>
</div>

<div class="{% block color %}bg-light{% endblock %}"><div class="container-lg">
        <div class="row">
            <div class="DA-header col-sm-8 py-4 py-md-2 d-flex align-items-center">
                <h1 class="my-0 text-black">
                    {% block heading %}{% endblock %}
                </h1>
            </div>

            <div class="DA-illustration {% block illustration_type %}{% endblock %} col-sm d-none d-sm-block px-2"></div>
        </div>
    </div>
</div>


<div class="container-lg DA-content">
    <div class="row pb-5">
        <main class="col-lg-8 pt-5">
            {% block content %}{% endblock %}
        </main>

        <aside class="col-md bg-light pt-5 pb-4" id="kontakty">

            <h2 class="mt-2">Kontakty</h2>

            <p>
                telefón: <a href="tel:00420317020385" class="text-nowrap">+421&thinsp;31&thinsp;702&thinsp;0385</a><br>
                mobil: <a href="tel:00421905580138" class="text-nowrap">+421&thinsp;905&thinsp;580&thinsp;138</a><br>
                e-mail: <a href="mailto:beata@dapot.sk">beata@dapot.sk</a>
            </p>

            <p><b>Osobné stretnutie doporučujeme dohodnúť telefonicky.</b></p>

            <p>
                <b>DAPOT, s.r.o.</b><br>
                Nemocničná&nbsp;605/25<br>
                924&nbsp;01 Galanta<br>
                <a href="https://www.google.com/maps/place/Nemocni%C4%8Dn%C3%A1+25,+924+01+Galanta,+Slovakia/@48.1970425,17.7248922,17z/">mapa</a>
            </p>

            <p>
                IČO: 36221708<br>
                DIČ: 2021360803
            </p>
        </aside>
    </div>
</div>

{#
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
#}
</body>
</html>
