<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <title>{% block title %}DAPOT – Účtovníctvo a ekonomické poradenstvo{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>


<div class="bg-white sticky-top">
    <div class="container-lg">
        <nav class="navbar navbar-expand flex-wrap">
            <div class="navbar-brand text-wrap mr-4">
                <a href="/" class="display-1 text-decoration-none font-weight-bold">DAPOT</a>
                <br><small class="mt-n2 d-block text-nowrap">účtovníctvo a ekonomické poradenstvo</small>
            </div>

            <ul class="navbar-nav ml-md-auto mr-md-n4 mr-lg-n5 mt-auto flex-wrap">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/">Úvod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sluzby">Služby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cennik">Cenník</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/referencie">Referencie</a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link pr-0" href="#kontakty">Kontakty</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="{% block color %}bg-light{% endblock %}">
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-8 py-5 d-flex align-items-center" style="min-height: 14rem">
                <h1 class="my-0 text-black">
                    {% block heading %}{% endblock %}
                </h1>
            </div>

            <div class="col-sm d-none d-sm-block" style="background-size:{% block background_size %}contain{% endblock %} ;background-position: 50% 100%;background-repeat: no-repeat; background-image: url(/img/{% block image %}{% endblock %});"></div>
        </div>
    </div>
</div>


<div class="container-lg" id="kontakty">
    <div class="row pb-5">
        <div class="col-md-8 pt-5">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md bg-light py-4">

            <h2>Kontakty</h2>

            <p>

                telefón: <a href="tel:00420317020385" class="text-nowrap">+421&thinsp;31&thinsp;702&thinsp;0385</a><br>
                mobil: <a href="tel:00421905580138" class="text-nowrap">+421&thinsp;905&thinsp;580&thinsp;138</a><br>
                e-mail: <a href="mailto:beata@dapot.sk">beata@dapot.sk</a>
            </p>

            <p><b>Osobné stretnutie doporučujeme dohodnúť telefonicky.</b></p>

            <p>
                <b>DAPOT, s.r.o.</b><br>
                Nemocničná&nbsp;605/25<br>
                924&nbsp;01 Galanta<br>
                <a href="https://www.google.com/maps/place/Nemocni%C4%8Dn%C3%A1+25,+924+01+Galanta,+Slovakia/@48.1970425,17.7248922,17z/">mapa</a>
            </p>

            <p>
                IČO: 36221708<br>
                DIČ: 2021360803
            </p>
        </div>
    </div>
</div>

{#
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
#}
</body>
</html>
