{% extends '_base.twig' %}


{% block title %}Cenník – {{ parent() }}{% endblock %}


{% block content %}
    <h1>Cenník</h1>

    <h2>Služby spracovania účtovníctva</h2>

    <p>Cena za spracovanie účtovníctva je stanovená ako mesačná paušálna cena dohodnutá individuálne s klientom v závislosti od náročnosti spracovania účtovnej agendy.</p>

    <p>Minimálna výška mesačného paušálu za spracovanie jednoduchého účtovníctva je 50,- €/spracovaný mesiac a za podvojné účtovníctvo je 176&nbsp;€/spracovaný mesiac.</p>

    <p>Konkrétna výška paušálu je navrhnutá individuálne po prerokovaní rozsahu práce a očakávaní klienta.</p>

    <h2>Služby spracovania miezd</h2>

    <p>Cena za uvedenú službu závisí od množstva spracovaných miezd v danom mesiaci.</p>

    <p>Výška ceny je 10 €/spracovaná mzda v prípade spracovania miezd podľa slovenskej legislatívy.</p>


    <h2>Ostatné služby administratívneho charakteru</h2>

    <p>Výška odmeny závisí od rozsahu poskytnutej služby, je stanovená sumou 15&nbsp;€/hodina výkonu administratívnej služby.</p>

    <hr>

    <p class="font-italic">Uvedené ceny majú informatívny charakter. Pre vypracovanie konkrétnej cenovej ponuky nás prosím kontaktujte, spoločne prejdeme vaše individuálne podmienky a očakávania a pripravíme vám vhodnú ponuku, určenú len pre vás.</p>
{% endblock %}
