{% extends '_base.twig' %}


{% block menu_active_pricelist %}active{% endblock %}


{% block prefetch_pricelist %}preload{% endblock %}


{% block title %}Cenník – {{ parent() }}{% endblock %}


{% block illustration_type %}DA-illustration-cennik{% endblock %}


{% block color %}bg-DA-pink{% endblock %}


{% block heading %}Cenník{% endblock %}


{% block content %}
    <p class="lead">Uvedené ceny majú informatívny charakter. Pre&nbsp;vypracovanie konkrétnej cenovej ponuky nás prosím kontaktujte, spoločne prejdeme vaše individuálne podmienky a očakávania a pripravíme vám vhodnú ponuku, určenú len pre vás.</p>

    <h2>Účtovníctvo</h2>

    <p>Cena za spracovanie účtovníctva je stanovená ako mesačná paušálna cena dohodnutá individuálne s klientom v závislosti od náročnosti spracovania účtovnej agendy.</p>

    <p>Minimálna výška mesačného paušálu za spracovanie jednoduchého účtovníctva je 50&nbsp;€ za spracovaný mesiac a za podvojné účtovníctvo je&nbsp;176&nbsp;€ za spracovaný mesiac.</p>

    <p>Konkrétna výška paušálu je navrhnutá individuálne po prerokovaní rozsahu práce a očakávaní klienta.</p>

    <h2>Spracovanie miezd</h2>

    <p>Cena závisí od množstva spracovaných miezd v danom&nbsp;mesiaci.</p>

    <p>V prípade spracovania miezd podľa slovenskej legislatívy je cena 10&nbsp;€ za&nbsp;každú spracovanú mzdu.</p>


    <h2>Služby administratívneho charakteru</h2>

    <p>Výška odmeny závisí od rozsahu poskytnutej služby, je stanovená sumou 15&nbsp;€ za hodinu výkonu administratívnej služby.</p>

{% endblock %}
