{% extends '_base.twig' %}


{% block menu_active_index %}active{% endblock %}


{% block illustration_type %}DA-illustration-uvod{% endblock %}


{% block color %}bg-DA-blue{% endblock %}


{% block heading %}Komplexné účtovnícke a&nbsp;ekonomické <a href="/sluzby">služby</a> od&nbsp;roku&nbsp;1997{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6 mb-4">
            <p><strong>Ku každému klientovi pristupujeme individuálne</strong> a&nbsp;prispôsobujeme naše služby jeho požiadavkám.</p>
        </div>
        <div class="col-md-6 mb-4">
            <p><strong>Aktívne komunikujeme</strong> s&nbsp;klientom počas účtovného&nbsp;roka.</p>
        </div>
        <div class="col-md-6 mb-4">
            <p><strong>Poskytujeme ekonomické rady</strong> v&nbsp;podnikaní, kalkulácie, štatistiky, vypracovávame žiadosti k&nbsp;úverom, dotáciám a mnohé&nbsp;iné.</p>
        </div>
        <div class="col-md-6 mb-4">
            <p><strong>Riešime rôznorodé ekonomické prípady a situácie</strong> od&nbsp;drobného živnostníka až po&nbsp;medzinárodné spoločnosti.</p>
        </div>
    </div>

    {#    <ul class="lead">
            <li>Ponúkame komplexné účtovnícke a ekonomické <a href="/sluzby">služby</a>.</li>
            <li>Aktívne komunikujeme s klientom počas účtovného roka.</li>
            <li>Poskytujeme ekonomické rady v podnikaní, kalkulácie, štatistiky, vypracovávame žiadosti k úverom, dotáciám a mnohé iné.</li>
            <li>Ku každému klientovi pristupujeme individuálne a prispôsobujeme naše služby požiadavkám zákazníka.</li>
            <li>Sme firma s profesionálnym prístupom k účtovníctvu a účtovným prípadom.</li>
            <li>Pôsobíme na trhu od roku 1997.</li>
            <li>Riešime veľké množstvo ekonomických prípadov a situácií od drobného živnostníka až po medzinárodné spoločnosti.</li>
        </ul>#}
{% endblock %}
