{% extends '_base.twig' %}


{% block title %}Dapot – Účtovníctvo a ekonomické poradenstvo{% endblock %}


{% block content %}
    <h1>Dapot – Účtovníctvo a ekonomické poradenstvo</h1>

    <p class="lead">Ponúkame komplexné účtovnícke a ekonomické <a href="/sluzby">služby</a>. Aktívne komunikujeme s klientom počas účtovného roka. Poskytujeme ekonomické rady v podnikaní, kalkulácie, štatistiky, vypracovávame žiadosti k úverom, dotáciám a mnohé iné. Ku každému klientovi pristupujeme individuálne a prispôsobujeme naše služby požiadavkám zákazníka</p>

    <p>Sme firma s profesionálnym prístupom k účtovníctvu a účtovným prípadom. Pôsobíme na trhu od roku 1997. Riešime veľké množstvo ekonomických prípadov a situácií od drobného živnostníka až po medzinárodné spoločnosti.</p>

{% endblock %}
