{% extends '_base.twig' %}


{% block title %}Referencie – {{ parent() }}{% endblock %}


{% block image %}OQMZwNd3ThU.webp{% endblock %}


{% block background_size %}cover{% endblock %}


{% block color %}bg-DA-green{% endblock %}


{% block heading %} Referencie {% endblock %}


{% block content %}
    <p class="lead">Čo o nás hovoria naši klienti?</p>

    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 my-4">
            <p class="font-italic">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, aliquam cum ducimus earum iste iure libero molestiae molestias reprehenderit!“</p>
            <p>— Consectetur Adipisicing, podnikatel —</p>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 my-4">
            <p class="font-italic">„Accusantium, porro soluta tenetur veniam! A ab deleniti dolor dolorum fugiat minus nemo nesciunt quidem.“</p>
            <p>— Molestias Mollitia Placeat —</p>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 my-4">
            <p class="font-italic">„Assumenda blanditiis commodi corporis dolore eaque eligendi fuga incidunt inventore, ipsam iure laborum perferendis quae reiciendis rerum?“</p>
            <p>— Dicta Dignissimos —</p>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 my-4">
            <p class="font-italic">„Animi atque distinctio earum, in odit reprehenderit rerum sapiente unde voluptate voluptatibus! Accusamus ea harum magnam natus saepe tempora.“</p>
            <p>— Laudantium Nulla —</p>
        </div>
    </div>
{% endblock %}
