{% extends '_base.twig' %}


{% block menu_active_testimonials %}active{% endblock %}


{% block prefetch_testimonials %}preload{% endblock %}


{% block title %}Referencie – {{ parent() }}{% endblock %}


{% block illustration_type %}DA-illustration-referencie{% endblock %}


{% block color %}bg-DA-green{% endblock %}


{% block heading %}Referencie{% endblock %}


{% block content %}
    <h2 class="mt-2 mb-5">Čo o nás hovoria naši klienti?</h2>

    <article class="pb-2 mb-4 border-bottom">
        <div class="font-italic">
            <p>Už niekoľko rokov sme Vašimi spokojnými zákazníkmi.</p>

            <p>Chceme vyzdvihnúť Vašu prácu v&nbsp;oblasti komplexnej starostlivosti o&nbsp;daňovú, účtovnú a mzdovú agendu a zároveň precíznosť, korektnosť, zodpovednosť a ústretovosť ľudí pracujúcich vo Vašej spoločnosti.</p>

            <p>So spoluprácou sme spokojní a tešíme sa na ďalšie spoločné&nbsp;roky.</p>
        </div>

        <p>— Majitelia spoločnosti SERVIS AUTOŽERIAVOV&nbsp;JS spol.&nbsp;s&nbsp;r.o.</p>
    </article>

    <article class="pb-2 mb-4 border-bottom">
        <div class="font-italic">
            <p>Po zlých skúsenostiach z&nbsp;minulosti sme sa obrátili na spoločnosť DAPOT,&nbsp;s.r.o. s&nbsp;požiadavkou o&nbsp;vedenie účtovníctva, miezd a celkovej ekonomickej agendy. Tu sme našli profesionálny prístup a fundované rady.</p>

            <p>Touto cestou by sme sa chceli poďakovať celému kolektívu za ochotu, ústretovosť a odbornosť.</p>
        </div>
        <p>— Majitelia spoločnosti AUTOPLACHTY TIKA, s.r.o.</p>
    </article>

    <article>
        <div class="font-italic">
            <p>Stále ma zaťažovala komunikácia s&nbsp;úradmi a inštitúciami. Ak bolo potrebné niečo riešiť, odkladal som to na poslednú chvíľu, pretože na to nebol čas. Až dievčatá zo spoločnosti DAPOT, s.r.o. vyriešili túto moju neriešiteľnú situáciu. Pri každej požiadavke predpripravia podklady v&nbsp;maximálnej miere, včas a kvalitne, vrátane komunikácie s&nbsp;úradníkmi. Na všetko dôležité ma včas upozornia. Dámy sú vždy usmievavé, milé a ochotné poradiť. Ich profesionalita je na nezaplatenie. Som s&nbsp;ich službami veľmi spokojný.</p>
        </div>
        <p>— Majiteľ spoločností DOKA-VISION spol. s&nbsp;r.o. a GALALES s.r.o.</p>
    </article>
{% endblock %}
