{% extends '_base.twig' %}


{% block title %}Služby – {{ parent() }}{% endblock %}


{% block content %}
    <h1>Služby</h1>
    <ul>
        <li>jednoduché účtovníctvo</li>
        <li>podvojné účtovníctvo</li>
        <li>mzdy a personalistika, komunikácia s exekútormi</li>
        <li>ročné zúčtovania</li>
        <li>štatistiky</li>
        <li>evidencia majetku</li>
        <li>skladové hospodárstvo</li>
        <li>interné smernice</li>
        <li>vyhotovenie pokladov pre potreby bánk</li>
        <li>administratívne činnosti spojené s účtovníctvom</li>
        <li>daňové priznania FO (typ A a B), PO, motorové vozidlo</li>
        <li>daňové priznanie DPH, Kontrolný výkaz, Súhrnný výkaz, Intrastat</li>
        <li>poradenstvo a konzultácia</li>
    </ul>
{% endblock %}
