h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-style: italic;
}

h2,
h3,
h4,
.h2,
.h3,
.h4 {
    margin-top: 1.5em;
}

.nav-link {
    $rfs-factor: 100;
    $rfs-base-font-size: $font-size-base;
    $rfs-breakpoint: map_get($grid-breakpoints, "xl");

    @import "node_modules/bootstrap/scss/vendor/rfs";

    @include font-size($h4-font-size);
    line-height: 1;
}

.bg-light:target {
    background-color: $gray-300 !important;
}

.nav-item.active {
    font-weight: $font-weight-bold;
}

.DA-language {
    position: absolute;
    right: 0;
    top: 0;
}

.DA-logo-claim {
    display: block;
    margin-top: -0.5vw;
    margin-left: 0.2em;
    line-height: 1;

    @include media-breakpoint-up("sm") {
        white-space: nowrap !important;
    }
}

.DA-header {
    @include media-breakpoint-up("sm") {
        min-height: 15rem;
    }
}

.DA-illustration {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;


    @include media-breakpoint-up('sm') {
        &-uvod {
            background-image: url(/img/kalkulacka.png);
            background-position-y: 0;
        }

        &-sluzby {
            background-image: url(/img/kocky.png);
            background-size: contain;
        }

        &-cennik {
            background-image: url(/img/prasca.png);
        }

        &-referencie {
            background-image: url(/img/podpis.jpg);
            background-size: cover;
        }
    }

    @include media-breakpoint-up('md') {
        background-size: contain;

        &-referencie {
            background-size: cover;
            background-origin: border-box;
        }
    }
}

.DA-content {
    ul,
    ol {
        padding-left: $spacer;
    }

}

@media (min-height: 480px) {
    .DA-navbar-sticky {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
    }

    aside {
        scroll-margin-top: 10rem;
    }
}
